@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
}


/* Navbar Styles  */

.brand {
    font-weight: bold;
    font-size: 3rem;
    color: #131313;
}

.navbar {
    display: flex;
   justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
   
}

.nav-items {
    list-style: none;
    margin-right: 30px;
}

.nav-items:last-child {
    margin-right: 0px;
}

.nav-link {
    text-decoration: none;
    color: #424242;
    font-size: 1.15rem;
    font-weight: 500;
}



/* Banner Style  */

.banner-section {
    text-align: center;
    padding-bottom: 30px;
}

.banner-content {
    max-width: 850px;
    margin: 50px auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 50px;
}

.banner-desc {
    font-size: 16px;
    color: #727272;
    margin-bottom: 33px;
}

.primary-btn {
    padding: 20px 25px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}

.banner-img {
    border: none;
    border-radius: 8px;
   
}

.banner-img img {
    width: 100%;
    border-radius: 8px;
}


.feature-title {
    font-weight: 500;
    font-size: 3rem;
    color: #131313;
    margin-bottom: 25px;
}

.feature-desc {
    font-size: 1rem;
    color: #727272;
    margin-top: 0px;
    margin-bottom: 32px;
}

.feature-btn {
    margin-top: 0px;
}

.feature-section {
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 70px 60px;
}


.feature-section  .left-column  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.img-items {
    border: none;
    border-radius: 8px;
   
}

.img-items img {
    width: 100%;
    border-radius: 8px;
}
/* Responsive Style  */



@media screen and (max-width:740px) {

    html {
    font-size: 12px;
}
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
}

.nav-items:last-child {
    margin-right: 30px;
}

.banner-content {
    padding: 50px 20px;
}

.feature-section  {
    flex-direction: column-reverse;
    text-align: center;
}

}