@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
}


/* Navbar Styles  */

.brand {
    font-weight: bold;
    font-size: 3rem;
    color: #131313;
}

.navbar {
    display: flex;
   justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
   
}

.nav-items {
    list-style: none;
    margin-right: 30px;
}

.nav-items:last-child {
    margin-right: 0px;
}

.nav-link {
    text-decoration: none;
    color: #424242;
    font-size: 1.15rem;
    font-weight: 500;
}



/* Banner Style  */

.banner-section {
    text-align: center;
    padding-bottom: 30px;
}

.banner-content {
    max-width: 850px;
    margin: 50px auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 50px;
}

.banner-desc {
    font-size: 16px;
    color: #727272;
    margin-bottom: 33px;
}

.primary-btn {
    padding: 20px 25px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}

.banner-img {
    border: none;
    border-radius: 8px;
   
}

.banner-img img {
    width: 100%;
    border-radius: 8px;
}


.feature-title {
    font-weight: 500;
    font-size: 3rem;
    color: #131313;
    margin-bottom: 25px;
}

.feature-desc {
    font-size: 1rem;
    color: #727272;
    margin-top: 0px;
    margin-bottom: 32px;
}

.feature-btn {
    margin-top: 0px;
}

.feature-section {
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 70px 60px;
    margin-top: 0px;
}


.feature-section  .left-column  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.img-items {
    border: none;
    border-radius: 8px;
   
}

.img-items img {
    width: 100%;
    border-radius: 8px;
    
}


.features-section {
        display: grid;
        grid-template-columns: 586px 800px;
        justify-content: center;
        /* align-items: center; */
        gap: 50px;
        margin-bottom: 100px;
}

.features-title {
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
    border: 0px 6px 0px 0px solid #FF900E;
    padding-left: 20px;
    padding-right: 50px;
    margin-bottom: 20px;
}

.features-desc {
    font-size: 1rem;
    color: #727272;
    margin-top: 0px;
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
}

.card-desc {
    font-size: 16px;
    color: #727272;
    margin-top: 0px;
}


.card {
    padding: 30px 42px;
    border: none;
    border-radius: 8px;
    /* background-color: #FF900E; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.features-img {
      border: none;
    
    margin-left: 100px;
}

.features-img img {
    width: 100%;
    border-radius: 8px;
}


.features-btn {
    margin-top: -500px;
    padding: 45px;
}


.fact-section .fact-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0px;
    color: #131313;

}

.fact-desc {
    width: 540px;
    font-size: 1rem;
    margin-top: 24px;
    color: #727272;
}

.fact-section .item-container {
    margin: 100px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.fact-section .fact-item {
    padding: 45px 35px;
    border: 2px solid #FF900E;
    border-radius: 8px;
}

.fact-section .item-title {
   font-size: 3rem;
   font-weight: 600;
   color: #424242;
   margin-bottom: 0px;
   margin-top: 10px;
}

.fact-section .item-desc {
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
  margin-top: 0px;
}


.sponsor-section {
    text-align: center;
}

.sponsor-title {
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 25px;
}

.sponsor-desc {
    font-size: 1rem;
    color: #727272;
    margin-top: 0px;
    width: 542px;
    margin: 0 auto;
}

.sponsor-section .img-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-section {
    text-align: center;
    background-color: #FFF4E7;
     padding: 40px 0px; 
    margin-bottom: 50px;
    font-size: 1.25rem;
    color: #424242;
}



/* Responsive Style  */



@media screen and (max-width:740px) {

    html {
    font-size: 12px;
}
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
}

.nav-items:last-child {
    margin-right: 30px;
}

.banner-content {
    padding: 50px 20px;
}

.feature-section  {
    flex-direction: column-reverse;
    text-align: center;
}

.feature-section  .left-column  {
    
    grid-template-columns: 1fr ;
    gap: 25px;
}


.fact-section {
    text-align: center;
}

.fact-desc {
    width: auto;
}

.fact-section .item-container {
    flex-direction: column;
    gap: 20px;
}

.sponsor-desc {
    width: auto;
}

.sponsor-section .img-container {
    flex-direction: column;
    justify-content:center;
    gap: 20px;
   
}

.sponsor-section .img-container img {
    width: 200px;
    margin: 0 auto;
}

.footer-section  {
    padding-left: 20px;
    padding-right: 20px;
}


.features-section {
      
        grid-template-columns: 1fr;
}

.features-section .left-column {
                    text-align: center;
}



}